.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
    border-radius: 10px;
    padding: 0px 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 2.5;
}

.collapsible-header {
    border-bottom: 1px solid black;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 20px auto;
    max-width: 1280px;
    width: 90%;
}

/*-----------------------Footer----------*/

footer {
    height: auto;
    width: 100%;
    overflow: hidden;

}

.social-networks {
    text-align: center;
    color: #a1887f;
}


.social-networks a {
    color: #a1887f;
    display: inline-block;
    margin: 1px;
    padding: 2%;

}

.social-networks a i:hover {
    color: #558b2f;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color:  #7cb342;   
}
