{% extends "base.html" %}
{% block content %}

<h3 class="center-align brown-text text-darken-2">Add Recipe</h3>   

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix brown-text text-darken-2"></i>
                <select id="foodType" name="foodType" class="validate" required>
                    <option value="" disabled selected>Choose Food Type</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label for="foodType" >Food Type</label>
              </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix brown-text text-darken-2"></i>
                <input id="receta_name" name="receta_name" minlength="5" maxlength="50" 
                type="text"  class="validate" required>
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
       
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix brown-text text-darken-2"></i>
                <textarea id="cooking_instructions" name="cooking_instructions" minlength="5" 
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="cooking_instructions">Cooking Instructions</label>
            </div>
      </div>
    </form>
  </div>


{% endblock %}