{% extends "base.html" %}
{% block content %}

<h3 class="center-align brown-text text-darken-2">Edit Recipe</h3>   

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', receta_id=receta._id) }}">
        <!--food type selection-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix brown-text text-darken-2"></i>
                <select id="foodType_name" name="foodType_name" class="validate" required>
                    <option value="" disabled >Choose Type of Food</option>
                    {% for foodType in foodTypes %}
                        {% if foodType.foodType_name == receta.foodType_name %}
                            <option value="{{foodType.foodType_name}}" selected>{{foodType.foodType_name}}</option>
                        {% else %}
                            <option value="{{foodType.foodType_name}}">{{foodType.foodType_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="foodType_name" >Food Type</label>
              </div>
        </div>
        <!-- recipe name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-cookie-bite prefix brown-text text-darken-2"></i>
                <input id="receta_name" name="receta_name" minlength="5" maxlength="50" 
                    value="{{ receta.receta_name }}"" type="text"  class="validate" required>
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
       <!--cooking instructions-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix brown-text text-darken-2"></i>
                <textarea id="cooking_instructions" name="cooking_instructions" minlength="5" 
                    maxlength="400" class="materialize-textarea validate" required>
                    {{- receta.cooking_instructions -}}
                </textarea>
                <label for="cooking_instructions">Ingredients & Cooking Instructions</label>
            </div>
      </div>
      <!--submit button-->
      <div class="row">
          <div class="col s12 center-align">
              <!-- cancel button-->
              <a href="{{ url_for('get_recetas') }}" class="btn-large red text-shadow">
                  Cancel <i class="fas fa-times-circle right"></i>
              </a>
              <button type="submit" class="btn-large text-shadow light-green darken-1">
                  Save Changes <i class="fas fa-edit right"></i>
              </button>
          </div>
      </div>
    </form>
  </div>


{% endblock %}