{% extends "base.html" %}
{% block content%}   
   
   
    
    {% for receta in recetas %}
    {{ receta.food_name }}<br>
    {{ receta.food_type }}<br>
    {{ receta.cuisine }}<br>
    {{ receta.ingredients }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
          <div class="collapsible-header white-text text-shadow brown"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text text-shadow brown"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text text-shadow brown"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{% endblock %}
    
    
   

   