{% extends "base.html" %}
{% block content%}   




<!--Landing Page -->

<div class="col s12 m6">
    <h3 class="center-align brown-text text-darken-2"> What we do?</h3>
    <p style="text-align: center;" class="center-align brown-text text-darken-2"> Taste My Food is a free online recipe-book, where users can save and share their favourites dishes.<br> Recipes can be created, edited or deleted at anytime.</p>
</div>
<div class="col-12 col-sm-6 flexbox">
    <img src="/static/images/undraw_cooking_lyxy.svg" width="300" height="300" alt="human seated in chef's hat, kitchen utensiles">
</div>

<div class="col s12 m6">
    <h3 class="center-align brown-text text-darken-2"> How we do it?</h3>
    <p style="text-align: center;" class="center-align brown-text text-darken-2">  Create your username/password and get ready to share your food inventions. <br> <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Now!</a></p>
</div>
   
<br>

<h3 class="center-align brown-text text-darken-2">User's Recipes</h3>   


    <div class="row card-panel grey lighten-5">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix brown-text text-darken 4"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query"> Search Recipes</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('get_recetas') }}" class="btn-small red text-shadow">Reset</a>
                        <button type="submit" class="btn-small light-green darken-1 text-shadow">
                             Search
                        </button> 
                    </div>
                </div>
            </form>
    </div>

    

    {% if recetas|length > 0 %}
    <ul class="collapsible">
        {% for receta in recetas %}
            <li>
                <div class="collapsible-header brown-text text-darken-2 text-shadow light-green lighten-4 ">
                    
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                        {% if session.user|lower == receta.created_by|lower %}
                            <a href="{{ url_for('delete_recipe', receta_id=receta._id)}}" class="btn-small red text-shadow modal-trigger">Delete</a>
                            <a href="{{ url_for('edit_recipe', receta_id=receta._id)}}" class="btn-small light-green darken-1">Edit</a>
                            
                        {% endif %}

                    </div>

                        <div class="col-s9">
                            <strong>{{ receta.receta_name }}</strong> : {{ receta.foodType_name }}
                        </div>
                   
                
                </div>
                <div class="collapsible-body"> 
                    <strong> {{ receta.cuisine }}</strong>
                    <p>{{ receta.ingredients_list }}</p>
                    <p>{{ receta.cooking_instructions }}</p>
                    <p><em>by: {{ receta.created_by  }}</em></p>

                </div>
            </li>
        {% endfor %}
      </ul>
      {% else %}
        <h3 class="center-align red-text text-darken-2">No Results Found</h3>   
      {% endif %}

{% endblock %}
    
    
   

   